.reposWrapper {
  display: flex;
  flex-direction: column;
  width: 66%;
  min-height: 80vh;
  margin-left: 30px;
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.reposTitle {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 29px;
}

.userRepoArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 24px;

  .userRepo {
    max-width: 877px;
    width: 100%;
    min-height: 112px;
    word-wrap: break-word;
    padding: 14px 32px 24px 32px;
    border-radius: 6px;
    margin-bottom: 24px;
    background-color: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }
}



.repoName {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 6px;
  color: #0064EB;
  padding: 10px 0;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #05438b;
  }
}

.repoDescription {
  line-height: 19px;
  font-size: 16px;
}

.paginationArea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}

.paginationData {
  font-size: 14px;
  color: #808080;
}

// ===== Media =====

@media (max-width: 880px) {
  .reposWrapper {
    width: 100%;
    margin: 0 auto;
  }

  .userRepoArea {
    min-height: 80vh;
  }

  .userRepo {
    width: 100%;
  }

  .paginationArea {
    flex-direction: column;
    margin-top: auto;
  }

  .paginationData {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .reposTitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .userRepo {
    min-height: 80px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .repoName {
    font-size: 21px;
  }
}
