.form {
  display: flex;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.formIcon {
  position: absolute;
  fill: #808080;
  width: 14px;
  height: 14px;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.formInput {
  width: 100%;
  min-height: 40px;
  border-radius: 6px;
  margin-left: 22px;
  padding: 8px 44px;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #808080;
}

@media (max-width: 490px) {
  .formIcon {
    left: 35px;
  }

  .formInput {
    padding: 8px 8px 8px 35px;
  }
}
