@font-face {
  font-family: 'Inter, sans-serif';
  font-style: normal;
  font-weight: 400;
  src: local('Inter-Regular'),
  url('../static/fonts/inter-v11-latin_cyrillic-regular.woff2'),
  url('../static/fonts/inter-v11-latin_cyrillic-regular.woff');
}

@font-face {
  font-family: 'Inter, sans-serif';
  font-style: normal;
  font-weight: 500;
  src: local('Inter-Medium'),
  url('../static/fonts/inter-v11-latin_cyrillic-500.woff2'),
  url('../static/fonts/inter-v11-latin_cyrillic-500.woff');
}

@font-face {
  font-family: 'Inter, sans-serif';
  font-style: normal;
  font-weight: 600;
  src: local('Inter-SemiBold'),
  url('../static/fonts/inter-v11-latin_cyrillic-600.woff2'),
  url('../static/fonts/inter-v11-latin_cyrillic-600.woff');
}
